/* Stile base */
body {
    padding: 0;
    border: 0;
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 54%, rgba(0,0,0,0.6166841736694677) 82%, rgba(0,0,0,0.3925945378151261) 100%);
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
}

/* header della page */

.header {
    position: relative;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: none; /* Rimuove il background della header */
}

.logo a img {
    margin-top: 14px;
    margin-left: 14px;
    margin-bottom: 14px;
    max-width: 120px;
    min-width: 120px;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    /*padding: 10px 20px; /* Aggiungi padding per spaziatura interna */
}

.menu {
    margin-right: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 15px; /* Spazio tra i bottoni */
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu a {
    font-family: 'nunito';
    text-transform: uppercase;
    text-decoration: none;
    -webkit-text-decoration: none; /* Rimuove la sottolineatura su iOS */
    color: whitesmoke; /* Colore del testo */
    padding: 5px 5px;
    transition: background-color 0.3s; /* Transizione per l'effetto hover */
}

.menu ul li a {
    margin-right: 15px;
    font-size: 15px;
    justify-content: space-between;

}
@media screen and (max-width: 430px) {
    .menu ul li a {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-right: 5px;
        font-size: 14px;
    }

    .menu {
        margin-right: 20px;
    }

    .menu ul {
        gap: 5px;
    }
}

/* Sezione Intro con immagine di sfondo fissa */
.intro-section {
    position: relative; /* Per posizionare l'overlay sopra l'immagine */
    width: 100%;
    height: 100vh; /* Altezza della sezione */
    color: whitesmoke;
    overflow: hidden; /* Assicura che nulla fuoriesca */
    background-image: url('images/gallerybackground.jpg');
    background-size: cover; /* Adatta l'immagine al contenitore */
    background-position: center; /* Centra l'immagine */
    background-attachment: fixed; /* L'immagine rimane fissa durante lo scroll */
    display: flex; /* Usa flexbox per centrare il contenuto */
    align-items: center; /* Allinea verticalmente al centro */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    text-align: center; /* Allinea il testo al centro */
}

.intro-section::before {
    content: ""; /* Crea un overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Overlay scuro */
    z-index: 1; /* Posiziona l'overlay sopra l'immagine */
}

.intro-description {
    position: relative; /* Per garantire che il testo sia sopra l'overlay */
    max-width: 700px; /* Imposta una larghezza massima per il testo */
    padding: 40px; /* Spazio interno per il testo */
    z-index: 2; /* Assicura che il testo sia sopra l'overlay */
}

.intro-description h2 {
    font-family: 'Nunito';
    text-transform: uppercase;
    font-size: 24px; /* Dimensione del titolo */
    margin: 0; /* Rimuove il margine predefinito */
}

.intro-description p {
    font-size: 18px; /* Dimensione del testo del paragrafo */
    line-height: 1.6;
    margin: 20px 0 0; /* Spazio sopra e sotto il paragrafo */
}

/* Media query per schermi piccoli */
@media screen and (max-width: 640px) {
    .intro-section {
        height: 100vh; /* Mantiene l'altezza della sezione per schermi piccoli */
        background-size: cover; /* Assicura che l'immagine di sfondo copra tutta la sezione */
        background-attachment: scroll; /* Cambia l'attachment per schermi piccoli */
    }

    .intro-description {
        padding: 30px; /* Spazio interno ridotto per schermi piccoli */
        font-size: 14px; /* Riduci la dimensione del testo per schermi piccoli */
    }

    .intro-description h2 {
        font-size: 20px; /* Riduci la dimensione del titolo per schermi piccoli */
    }

    .intro-description p {
        font-size: 14px; /* Riduci la dimensione del testo del paragrafo per schermi piccoli */
    }
}

/* Stile per la galleria */
.gallery {
    padding-top: 0px; /* Compensa l'altezza del header fisso */
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonne per la galleria */
    gap: 20px;
    margin: 50px 30px;
    margin-top: 0;
    justify-content: center; /* Centra gli elementi orizzontalmente */
    align-items: center; /* Centra gli elementi verticalmente */
    text-align: center; /* Allinea il testo al centro */
}

.gallery-item {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Include padding e border nella larghezza totale */

}

.gallery-item a {
    display: block;
    width: 100%; /* Assicura che il link occupi tutta la larghezza del contenitore */
    text-decoration: none; /* Rimuove la sottolineatura dai link */
}

.gallery-item img {
    margin: 0 auto; /* centra le immagini orizzontalmente nel flex column */
    width: 100%;
    max-width: 600px; /* Imposta la larghezza massima per le immagini */
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    box-sizing: border-box; /* Include padding e border nella larghezza totale */
}

.gallery-item:hover img {
    transform: scale(1.1); /* Zoom dell'immagine al passaggio del mouse */
}

.description {
    color: whitesmoke;
    text-align: center;
    padding: 30px 10px;
    margin-top: 10px;
    width: 100%; /* Assicura che la descrizione sia larga quanto l'immagine */
    box-sizing: border-box; /* Include padding e border nella larghezza totale */
}

.description h3,
.description p {
    margin: 0;
    font-size: 14px; /* Font-size uniforme per coerenza */
}

.description h3 {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none; /* Rimuove la sottolineatura dal titolo */
}

.description p {
    text-decoration: none; /* Rimuove la sottolineatura dal paragrafo */
}

/* Sezione aggiuntiva per informazioni sui materiali */
.additional-info {
    margin-top: 50px;
    padding: 60px 40px;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
}

.additional-info h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.additional-info p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
}

/* Media query per schermi piccoli */
@media screen and (max-width: 640px) {

    .gallery-grid {
        grid-template-columns: 1fr; /* Una colonna per schermi piccoli */
    }

    .section-title {
        font-size: 20px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.footer {
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke; /* Colore del testo */
    text-align: left; /* Allinea il testo al centro */
    position: relative; /* Posiziona il footer in fondo alla pagina */
    width: 100%; /* Larghezza del footer */
    bottom: 0; /* Posiziona il footer in basso */
    font-family: 'Nunito', sans-serif; /* Font del testo */
    font-size: 14px; /* Dimensione del testo */
    padding-top: 20px; /* Aggiungi uno spazio sopra il footer */
    padding-bottom: 20px;
    z-index: 2;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Distanzia la scritta copyright e il bottone */
    align-items: center;
}

.footer p {
    margin-left: 30px;
}

.back-to-top {
    background: none;
    font-family: 'nunito', sans-serif;
    color: whitesmoke;
    height: 40px;
    width: auto;
    font-size: 12px; /* Ridimensiona il font per adattarlo al bottone */
    text-align: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin-right: 30px; /* Allinea il bottone sulla destra */
    display: none; /* Nascondi il bottone fino a che non serve */
}

.footer-content .back-to-top {
    display: block; /* Mostra il bottone su schermi grandi */
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Disposizione verticale su schermi piccoli */
        align-items: center;
    }

    .footer p {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .back-to-top {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
