/* Global styles */
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    position: relative;
    overflow-x: hidden; /* Previene lo scroll orizzontale */
}

/* Background container with fixed background */
.background-container {
    position: relative;
    height: 100vh; /* Rende il contenitore dell'altezza dello schermo */
    background: url('images/CRYSTALGIRL(1).jpg') no-repeat center center fixed; /* inserisci main image */
    background-size: cover;
    background-attachment: fixed;
}

/* Disattiva background-attachment: fixed sui dispositivi mobili */
@media (max-width: 768px) {
    .background-container {
        background-attachment: scroll;
    }
}

.background-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.748), rgba(0, 0, 0, 0.879));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Posiziona il filtro sopra l'immagine */
}

/* Header styles */
.header-content {
    min-width: 400px;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Posiziona l'header sopra il filtro */
}

.header-content h1 {
    text-transform: uppercase;
    font-size: 32px;
    margin: 0;
}

.header-content p {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 12px;
}

.header-content .button {
    display: inline-block;
    padding: 10px 20px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

/* Main content */
.main-content {
    background-color: #f5f5f5;
    color: whitesmoke;
}

.image-slider {
    position: relative;
    overflow: hidden; /* Nasconde tutto ciò che esce dal contenitore */
    background-color: black;
}

.image-slider .slides {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transizione fluida */
}

.image-slider .slide {
    min-width: 100%; /* Ogni slide occupa tutta la larghezza del contenitore */
    display: flex;
    justify-content: center; /* Centra l'immagine orizzontalmente */
    align-items: center; /* Centra l'immagine verticalmente */
}

.image-slider img {
    width: 100%; /* Immagine occupa tutta la larghezza del contenitore slide */
    height: auto; /* Mantiene le proporzioni */
}

.prev, .next {
    position: absolute;
    font-size: 30px;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 3;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Description styles */
.description {
    font-weight: 300;
    color: whitesmoke;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 27%, rgba(83,83,83,1) 63%, rgb(175, 175, 175) 100%);
    padding: 100px 30px;
    padding-bottom: 0;
    text-align: center;
}

.description h2 {
    text-transform: uppercase;
    font-size: large;
}

.description p {
    font-size: 14px;
}

@media screen and (max-width: 640px) {
    .header-content {
        min-width: 370px;
    }

    .header-content h1 {
        font-size: 24px;
    }

    .header-content .button {
        font-size: 14px;
    }

    .image-slider img {
        max-width: 100%; /* Rende le immagini a larghezza intera su schermi piccoli */
    }
}

.footer {
    background-color: rgba(0, 0, 0, 0.256);
}

.footer-content {
    margin-top: 30px;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between; /* Distanzia la scritta copyright e il bottone */
    align-items: center;
}

.footer p {
    margin-left: 30px;
    font-weight: 500;
}

.back-to-top {
    background: none;
    font-family: 'nunito', sans-serif;
    color: whitesmoke;
    font-weight: 700;
    height: 40px;
    width: auto;
    font-size: 12px; /* Ridimensiona il font per adattarlo al bottone */
    text-align: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin-right: 30px; /* Allinea il bottone sulla destra */
    display: none; /* Nascondi il bottone fino a che non serve */
}

.footer-content .back-to-top {
    display: block; /* Mostra il bottone su schermi grandi */
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Disposizione verticale su schermi piccoli */
        align-items: center;
    }

    .footer p {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .back-to-top {
        margin-right: 0;
        margin-bottom: 10px;
    }
}